<ngx-loading-bar
  color="#0d6efd"
  height="4px"
  [includeSpinner]="false"
></ngx-loading-bar>
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <span><i class="bi bi-card-text px-2"></i> RetroSprint</span>
    </a>
    <nav id="navbar" class="navbar">
      <ul *ngIf="!isAuth">
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="#team">Team</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a class="getstarted scrollto" [routerLink]="routerLinks.SignIn">Sign In</a></li>
      </ul>

      <ul *ngIf="isAuth">
        <li><a class="nav-link scrollto" [routerLink]="routerLinks.Teams">Teams</a></li>
        <li><a class="nav-link scrollto" [routerLink]="routerLinks.Teams">Settings</a></li>
        <li class="dropdown"><a href="#"><span>{{username}}</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Billing</a></li>
            <li><a href="#" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<app-notification
  [notification]="notification.pull() | async"
></app-notification>
