<section class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <ol>
          <li><a (click)="goToHome()">Home</a></li>
          <li><a (click)="goToTeams()">{{title}}</a></li>
          <li class="text-capitalize">
            {{
              (newTeamName$ | async) ??
              (
                (isNewTeam$ | async) || formService.form.get('title')?.value === '' ?
                  newTeamTitle :
                  formService.form.get('title')?.value
              )
            }}
          </li>
        </ol>
        <h2 class="text-capitalize">
          {{
            (newTeamName$ | async) ??
            (
              (isNewTeam$ | async) || formService.form.get('title')?.value === '' ?
                newTeamTitle :
                formService.form.get('title')?.value
            )
          }}
        </h2>
        <p>{{(team$ | async)?.description}}</p>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <button
          *ngIf="(isNewTeam$ | async) === false"
          (click)="removeTeam()"
          type="button"
          class="btn btn-light"
        >
          <i class="bi bi-trash3"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="container">
<section *ngIf="(isNewTeam$ | async) === false; else newTeam">
  <form *ngIf="(team$ | async) as team" [formGroup]="formService.form">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <h4 class="text-muted">Team title</h4>
            </div>
            <div class="col-12">
              <mat-form-field class="w-100 my-2" appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="title" placeholder="Ex. My team">
              </mat-form-field>
            </div>
            <div class="col-12">
              <h4 class="text-muted">Collaborators</h4>
            </div>
            <div class="col-4 mb-4 avatar">
              <div class="d-flex align-items-center gap-2 new-collaborator">
                <app-avatar [isNewUser]="true"></app-avatar>
                <div class="row">
                  <div class="col-12 text-muted small">
                    Add collaborator
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 mb-4 avatar avatar-removable" *ngFor="let collaborator of team.collaborators">
              <div class="d-flex align-items-center gap-2">
                <app-avatar [user]="collaborator.user"></app-avatar>
                <div class="row">
                  <div class="col-12 text-primary" *ngIf="collaborator.user && collaborator.user.username">
                    @{{ collaborator.user.username }}
                  </div>
                  <div class="col-12 text-muted small" *ngIf="collaborator.user && collaborator.user.email">
                    {{ collaborator.user.email }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <h4 class="text-muted">Retros calendar</h4>
            </div>
            <div class="col-12">
              <mat-calendar
                [dateClass]="dateClass"
                (selectedChange)="selectRetroDate($event)"
              ></mat-calendar>
            </div>
          </div>
        </div>
      </div>

    </form>
</section>
</div>
<ng-template #newTeam>
  <section>
    <app-new-team (teamName)="changeTeamName($event)"></app-new-team>
  </section>
</ng-template>

